/*@autor Giovani Lima */

/* ===================== Layout ===================== */

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Barra de navegação */

.img-logo{

    height: 100px;
    width: 200px;
    display: block;
    background: url('img/logo_corte.JPG') no-repeat;
    background-size: contain;
    color: transparent;
}

.navbar-expand-lg .navbar-nav>li>a{
    font-size: 20px;
    color: black;
}

.navbar-expand-lg .navbar-nav>li>a:hover{
    font-size: 20px;
    color: #ad3335;
    transition: 0.4s, color 0.4s; 
}

#menu {
    margin-left: -20px;
}

/* bordas nav */

.borda-nav{

    border: 4px solid #ad3335;
}
.borda-nav2{

    margin-top: 5px;
    border: 2px solid #ad3335;
}

/* botão cardapio */

.btn-custom{
    
    margin-top: 60px;
    padding-top: 20px;
    border-width: 15px;
    background-color: #ad3335;
    color: white;
}

/* fotos cardapio */

.fotos-cardapio{
    margin-top: 60px;
}

/*texto rodapé*/

.texto-rodape{

    color:black;
    text-align: center
}

#info-rodape{

    margin-top: 10px;
    margin-bottom: 15px;
}

/* borda e borda sobreposta */

.borda{

    border: 1px solid #ad3335;   
    z-index: 1;
    margin-top: 13px;
    margin-bottom: 14px;

}

.borda-fora{
    border: 1px solid #ad3335;   
    z-index: 1;
    margin-top: -14px;
    margin-bottom: -14px;

}

/* card fritz */

.card-fritz{

    background: #ad3335;
    color: white;
    padding: 15px 0px 5px 0px;
}




/* ===================== Tipografia ===================== */

/* ===================== Media query ===================== */

/* Media queries */

/* xs < 768 */
@media screen and (max-width: 767px){
    p{
        font-size: 8px;
    }

    h2 {
        font-size: 10px;
    }

    h5 {
        font-size: 8px;
    }

    .btn-custom{
        padding: 0px 0px 0px 0px;
        margin-top: 10px;
    }

    .img-logo{
        height: 50px;
        width: 100px;
        display: block;
        background: url('img/logo_corte.JPG') no-repeat;
        background-size: contain;
        color: transparent;
    }

    .borda{
        border: 1px solid #ad3335;   
        z-index: 1;
        margin-top: 13px;
        margin-bottom: 14px;
    }

    .fotos-cardapio{
        margin-top: 10px;
    }

    .page-footer{
        font-size: 10px;
    }

    .navbar-expand-lg .navbar-nav>li>a{
        font-size: 10px;
        color: black;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    
    .navbar-expand-lg .navbar-nav>li>a:hover{
        font-size: 10px;
        color: #ad3335;
        transition: 0.4s, color 0.4s; 
        margin-bottom: 0px;
        margin-top: 0px;
    }

}

/* sm */
@media screen and (min-width: 768px){
    h2 {
        font-size: 15px;
    }

    h5 {
        font-size: 15px;
    }

}

/* md */
@media screen and (min-width: 992px){
    h2 {
        font-size: 25px;
    }
}

/* lg */
@media screen and (min-width: 1200px){
    h2 {
        font-size: 35px;
    }
}
